<div class="navbar-fixed">
  <nav class="blue">
    <div class="nav-wrapper">
      <a href="#/" class="brand-logo center">Angularize Boilerplate</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#/link1" data-toggle="collapse" data-target="#myNavbar">Link1</a></li>
        <li><a href="#/link2" data-toggle="collapse" data-target="#myNavbar">Link2</a></li>
        <li><a href="#/link3" data-toggle="collapse" data-target="#myNavbar">Link3</a></li>

      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a class="black-text navlink" href="#/link1">Enregister un objet</a></li>
        <li><a class="black-text navlink" href="#/link2">Entrées / Sorties</a></li>
        <li><a class="black-text navlink" href="#/link3">Stock</a></li>
        <li class="divider"></li>
        <li><a class="black-text disabled">© Valérian Polizzi | 2016</a></li>
      </ul>
    </div>
  </nav>
</div>
